.login{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    vertical-align: middle;
}
.login_container{
    display: flex;
    align-items: center;
    width: 500px;
    flex-direction: column;
    padding:20px;
    background-color: aqua;
}
.login_logo{
    width: 100px;
    object-fit: contain;
    margin: 20px;
    
}
.login_container > h5{
    padding:10px;
}
.login_container > input{
    padding:10px;
}
.login_container > button{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.login_container > form{
    display: flex;
    flex-direction: column;
}
.login_container > p{
    margin: 10px;
}